/* Globales */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Roboto&family=Unbounded:wght@200;300&family=Work+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    *max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

h1 h2 h3 h4{
    font-family:'Open Sans', sans-serif; 
}
.icon-cart {
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon {
    position: relative;
}

.count-products {
    position: absolute;
    top: 55%;
    right: 0;

    background-color: rgb(8, 111, 22);
    color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    font-family:'Open Sans', sans-serif; 
}

#contador-productos {
    font-size: 12px;
}

.container-cart-products {
    position: absolute;
    top: 50px;
    right: 0;

    background-color: rgb(255, 212, 212);
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(157, 24, 24, 0.772);
    border-radius: 10px;
    font-family:'Open Sans', sans-serif; 
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.icon-close {
    width: 25px;
    height: 25px;
}

.icon-close:hover {
    stroke: red;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart {
    display: none;
}

/* Main */
.container-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.2);
}

.info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family:'Open Sans', sans-serif; 
}

.price {
    font-size: 18px;
    font-weight: 900;
}

.info-product button {
    border: none;
    background: none;
    background-color: #000;
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    cursor: pointer;
    font-family:'Open Sans', sans-serif; 
}
.info-product{
    background-color: rgb(238, 133, 133);

}
.info-product h2{
    font-size: 20px;
}
.cart-empty {
    padding: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

.btn-clear-all {
    border: none;
    background-color: rgb(234, 69, 69);
    color: rgb(255, 255, 255);
    padding: 15px 0;
    display: block;
    width: 100%;
    margin-top: 10px;
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s ease;
}

.btn-clear-all:hover {
    background-color: rgb(148, 22, 22);
    transform: scale(1.03);
    border-radius: 0;
}
.botonwhatsapp h1{
    background-color: rgb(79, 162, 54);
    color:white;
    height: 50px;
    width: 400px ;
    font-size: 15px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    


}
.botonwhatsapp h1:hover {
    background-color: rgb(13, 87, 13);
    transform: scale(1.03);
    border-radius: 0;
}
button{
    border: none;
    color: none;
}


@media (max-width: 480px){
    .container-items{
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .item{
        width: 250px;
        margin: 20px;
    }
    .item img{
        width: 250px;
        height: 250px;
    }
    .container-cart-products{
        width: 100vw;
    }
}   
@media (max-width: 768px){

}.container-items{
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    
}
.item{
    
    margin: 20px;
}